/*****************************
CSS reset
*****************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
}


/*****************************
home
*****************************/
@font-face {
  font-family: MyriadPro;
  font-style:  normal;
  font-weight: 100;
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: OpenSans;
  font-style:  normal;
  font-weight: 100;
  src: url("../fonts/OpenSans-Light.ttf");
}

.main section{
  overflow: hidden;
}

.main-nav{
  width: 100%;
  height: 34px;
  font-size: 18px;
  font-family: 'OpenSans',sans-serif;
  top: 0;
  left: 0;
  position: absolute;  
  color: #fff;
  background: #000;
  opacity: 0.4;
}

.main-nav a:link, .main-nav a:visited{
  color: #fff;
}

.main-nav .first-link{
  margin: 8px 0px 0px 40px;
  float: left;
}

.main-nav .link{
  margin: 8px 40px 8px 0px;
  float: right;
  cursor: pointer;
}

#avatar{
  width: 20%;
  position: relative;
  margin: 7% auto;
}

#avatar img{
  width: 100%;
}

hr{
  width: 80%;
  border: 1px solid #fff;
}

.page1{
  background: #2E8ECE; 
}

.page2{
  background: #59DA9A; 
}

.page3{
  background: #00C1E2; 
}

.page4{
  background: #EAC34E; 
}

.page5{
  background: #E45780; 
}

.page6{
  background: #CC6FD7; 
}

.page1 h1{
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-family: 'OpenSans',sans-serif;
  font-weight: 100;
}

.page2 h2,.page3 h2,.page4 h2,.page5 h2,.page6 h2{
  color: #fff;
  padding: 5% 0 2% 10%;
  font-family: 'MyriadPro', sans-serif;
  font-size: 48px;
  font-weight: 100;
  letter-spacing: 1px;
}

.content{
  max-width: 1100px;
  margin: 3% auto;
}

.content table{
  width: 100%;
  color: #fff;
  font-family: Times New Roman,sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 40px;
  letter-spacing: 1px;
}

.content table .left-col{
  text-align: center;
  width: 15%;
  float: left;
}

.content table .right-col{
  width: 75%;
  float: right;
  text-align: justify;
  padding: 0 5% 0 0;
  margin-bottom: 20px;
}

.content table ul{
  margin-left: 20px;
  font-size: 20px;
  text-align: justify;
  line-height: 30px;
}

@media screen and (max-width: 1280px){

}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 640px){
  
}
