/*****************************
CSS reset
*****************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
}

a:link, a:visited{
  color: #000;
}

/*****************************
home
*****************************/
@font-face {
  font-family: MyriadPro;
  font-style:  normal;
  font-weight: 100;
  src: url("../fonts/MyriadPro-Light.otf");
}

@font-face {
  font-family: OpenSans;
  font-style:  normal;
  font-weight: 100;
  src: url("../fonts/OpenSans-Light.ttf");
}

.main-nav{
  width: 100%;
  height: 34px;
  font-size: 18px;
  font-family: 'OpenSans',sans-serif;
  border-bottom: 1px solid #000;
  margin-bottom: 5%;
  color: #000;
}

.main-nav .first-link{
  margin: 8px 0px 0px 20px;
  float: left;
}

.main-nav .link{
  margin: 8px 20px 8px 0px;
  float: right;
  cursor: pointer;
}

#avatar{
  width: 20%;
  position: relative;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#avatar img{
  width: 100%;
}

.page1 h1{
  text-align: center;
  font-size: 48px;
  font-family: 'MyriadPro',sans-serif;
  font-weight: 100;
}

@media screen and (max-width: 1000px){

}

@media screen and (max-width: 800px){

}

@media screen and (max-width: 700px){
  
}
